@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite !important;
}


.pageLoad {
    display: none;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    z-index: 100;
}

.pageLoad .loadContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loadContent #rssbError {
    display: none;
    font-size: 20px;
    margin-top: 15px;
    color: red;
    font-weight: 500;
}

.pageLoad h2 {
    font-size: 80px;
    text-shadow: 3px 3px 10px rgb(31, 29, 29);
    color: #8b0905;
}

.pageLoad .replyInput {
    width: 100%;
    padding: 13px;
    margin-top: 15px;
    font-size: 18px;
    background-color: #8b0905;
    box-shadow: 3px 3px 20px rgb(31, 29, 29);
    text-align: center;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

.replyInput::placeholder {
    color: rgba(255, 255, 255, 0.628);
}

#timeRunner {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 100%;
    color: white;
    font-weight: 700;
    font-size: 30px;
    background-color: #8b0905;
    box-shadow: 3px 3px 20px #8b0905;
    position: relative;
}

#timeRunner span {
    position: absolute;
    top: 29px;
    left: 12px;
}

/* header ke liye code yaha se start hua hai. */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    background-color: #8b0905;
    margin-bottom: 50px;
    border-radius: 5px;
    color: white;
    font-family: 'poppins', sans-serif;
}

.header .logo {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.header .logo h2 {
    position: relative;
    top: 4px;
    padding-left: 10px;
    height: 40px;
    font-weight: 700;
    text-shadow: 3px 3px 20px;
}

.leftRight {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.leftRight .left {
    margin-right: 160px;
    padding: 5px 0;
    text-shadow: 2px -2.5px 2px rgb(84, 81, 81);
}

.leftRight .right {
    margin-left: 95px;
    padding: 5px 0;
    text-shadow: 2px -2.5px 2px rgb(95, 91, 91);
}

.leftRight .left p {
    margin: 0;
}

.header .headerBtns {
    margin-top: 20px;
    margin-bottom: 10px;
}

.header .headerBtns button {
    padding: 2px 20px;
    border: none;
    outline: none;
    background-color: #8b0905;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(246, 243, 243);
}

.header .headerBtns button:hover {
    border: none;
    box-shadow: 3px 3px 20px rgb(246, 243, 243);
}

.header .headerBtns #homeBtn {
    margin-right: 30px;
}

/* header ke liye code yaha se end hoga. */





/* box 2 ka code start hogya */

#boxTwo {
    margin-bottom: 30px;
}

#boxTwo .twoBoxesContainer,
.initiationBox {
    display: grid;
    grid-template-columns: 50% 47%;
    gap: 40px;
}

.icon {
    margin: -45px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 3px 3px 10px grey;
}

.icon p {
    position: relative;
    top: 6px;
}

.ini-Icon {
    margin: -35px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: inset 2px 2px 10px grey, inset 2px 2px 10px grey;
}

.ini-Icon p {
    position: relative;
    top: 9px;
    font-size: 17px;
}

/* green symbol code sewadar box or initiation box ke liye start  */
#success-msg,
#ini-success-msg {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #12bb06;
}

/* green symbol code sewadar box or initiation box ke liye end  */





/* box 2 or box 3 ke ander form ke andar inputbox ka code start */

#boxTwo .saveDataBox form {
    position: relative;
}

#selectCentreName,
#genderSelectBtn,
#addressOfCentre,
#searchSelectCentreName {
    width: 65%;
    padding: 13px 0;
    border: none;
    outline: none;
    background-color: #fffaf0;
    border-bottom: 1px solid grey;
    cursor: pointer;
    color: grey;
}


select::-webkit-scrollbar {
    width: 5px;
}

select::-webkit-scrollbar-thumb {
    background-color: #8b0905;
    border-radius: 100px;
}


#boxTwo .saveDataBox,
.searchDataBox,
#boxThree .saveDataBox,
.searchDataBox {
    padding: 10px;
    box-shadow: 2px 2.5px 20px grey;
    border-radius: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
}




/* date input box ka code start */
.inputBox {
    position: relative;
}

#dateBox input::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: -8px;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 15px;
    cursor: pointer;
}

/* date input box ka code end */




#boxTwo form .inputBox,
#boxThree form .inputBox {
    display: flex;
    align-items: center;
    position: relative;
    margin: 5px 0;
}

#boxTwo form .inputBox span,
#boxThree form .inputBox span {
    position: absolute;
    right: 0;
    bottom: -2px;
    font-size: 13px;
    color: red;
    font-weight: 500;
}

#boxTwo form .inputBox span i,
#boxThree form .inputBox span i {
    color: green;
    font-size: 17px;
}

#boxTwo form .inputBox label,
#boxThree form .inputBox label {
    width: 40%;
    font-weight: 500;
    font-size: 16px;
}

#boxTwo form .inputBox input,
#boxThree form .inputBox input {
    width: 65%;
    padding: 13px 5px;
    border: none;
    outline: none;
    background-color: #fffaf0;
    border-bottom: 1px solid grey;
    font-size: 16px;
    color: grey;
}



/* search boxes code start here*/
#boxTwo .inputBoxTwo .searchBox,
#boxThree .inputBoxTwo .searchBox {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

#boxTwo .inputBoxTwo .searchBox label,
#boxThree .inputBoxTwo .searchBox label {
    width: 40%;
    font-weight: 500;
    font-size: 16px;
}

#boxTwo .inputBoxTwo .searchBox input,
#boxThree .inputBoxTwo .searchBox input {
    width: 65%;
    padding: 13px 5px;
    border: none;
    outline: none;
    background-color: #fffaf0;
    border-bottom: 1px solid grey;
    font-size: 16px;
    color: grey;
}

#boxTwo .inputBoxTwo .searchButton,
#boxThree .inputBoxTwo .searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 30px;
    position: relative;
}

#boxTwo .inputBoxTwo button,
#boxThree .inputBoxTwo button {
    padding: 10px 25px;
    border: none;
    outline: none;
    background-color: #d93c37;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    display: block;
}

#boxTwo .inputBoxTwo img,
#boxThree .inputBoxTwo img {
    width: 70px;
    position: absolute;
    margin: 35px 0 10px;
    display: none;
}


/* result box ke andar jo result show hoga uska code start */
#boxTwo .resultBox .center,
#boxThree .initiationBox .initiationResultBox .center {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}



#boxTwo .resultBox .center h1,
#boxThree .initiationBox .initiationResultBox .center h1 {
    text-decoration: underline;
    text-decoration-color: #8b0905;
    margin-bottom: 15px;
    font-size: 27px;
    letter-spacing: 3px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #8b0905;
}

#boxTwo .resultBox .center h2,
#boxThree .initiationBox .initiationResultBox .center h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

#boxTwo .resultBox .center span,
#boxThree .initiationBox .initiationResultBox .center span {
    font-size: 13px;
    font-weight: 500;
}

#boxTwo .resultBox .center h3,
#boxThree .initiationBox .initiationResultBox .center h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
}

#boxTwo .resultBox .data,
#boxThree .initiationBox .initiationResultBox .data {
    width: 100%;
    margin-top: 15px;
}

#boxTwo .resultBox .data .box,
#boxThree .initiationBox .initiationResultBox .data .box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    gap: 5px;
}

#boxTwo .resultBox .data .box p,
#boxThree .initiationBox .initiationResultBox .data .box p {
    width: 45%;
    font-weight: 500;
    position: relative;
    top: 8px;
}

#boxTwo .resultBox .data .box span,
#boxThree .initiationBox .initiationResultBox .data .box span {
    width: 55%;
    padding-left: 5px;
}

/* result box ke andar jo result show hoga uska code end */
/* search boxes code end here*/




/* submit or search buttons code */
#boxTwo form button,
#boxThree form button {
    padding: 10px 30px;
    font-size: 15px;
    color: white;
    background-color: #d93c37;
    border-radius: 5px;
    outline: none;
    border: none;
}

#boxTwo form .submitBtn,
#boxThree form .submitBtn {
    margin: 35px 0 25px;
    text-align: center;
}

/* box 2 or box 3 ke ander form ke andar inputbox ka code end */





/* errors ka code yaha se start hua hai. */
#sewadar-search-error,
#initiation-search-error {
    display: none;
    color: red;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

#boxTwo form #subit-error {
    color: red;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 45.5px;
}

#boxThree form #initiation-subit-error {
    color: red;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 47.7px;
}

.nullError {
    border: 1.4px solid red !important;
    animation: inptAni 0.1s linear 7;
}

.responseError {
    border: 2px solid red !important;
    animation: inptAni 0.1s linear 7;
}

.rssbError {
    animation: inptAni 0.1s linear 7;
}


@keyframes inptAni {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}

/* errors ka code yaha se end hoga. */
/* box 2 ka code end hogya */







/* box 3 ka code start hogya */

#boxThree {
    margin-bottom: 30px;
    display: none;
}

#boxThree #initiationForm {
    position: relative;
}

#selectInitiationCentreName,
#initiationGenderSelect,
#initiationQualification,
#initiationOccupation,
#initiationPlace,
#initiation-Byy,
#searchInitiationCentreName,
#initiationDegree {
    width: 65%;
    padding: 13px 0;
    border: none;
    outline: none;
    background-color: #fffaf0;
    border-bottom: 1px solid grey;
    font-size: 16px;
    color: grey;
}


/* box 3 ka code end hogya */









/* media quries ka code yaha se start hua hai. */

@media (max-width: 1399.98px) {

    .pageLoad {
        width: 70%;
    }

    #boxTwo .twoBoxesContainer,
    .initiationBox {
        grid-template-columns: 50% 47%;
        gap: 30px;
    }

    #boxTwo form .inputBox label,
    #boxThree form .inputBox label {
        width: 45%;
    }

    #boxTwo .inputBoxTwo .searchBox label,
    #boxThree .inputBoxTwo .searchBox label {
        width: 50%;
    }

    select option {
        font-size: 14px;
    }

}

@media (max-width: 1199.98px) {

    #boxOne,
    #boxTwo,
    #boxThree {
        padding: 0;
    }

    #boxTwo .twoBoxesContainer,
    .initiationBox {
        grid-template-columns: 50% 47%;
        gap: 30px;
    }

    #boxTwo form .inputBox label,
    #boxThree form .inputBox label {
        width: 50%;
    }

}

@media (max-width: 991.98px) {
    .pageLoad {
        width: 85%;
    }

    .headerBtns {
        font-size: 14px;
    }

    .header .logo h2 {
        font-size: 25px;
    }

    .leftRight .left {
        padding: 5px 15px;
        font-size: 14px;
    }

    .leftRight .right {
        padding: 5px 15px;
        font-size: 14px;
        text-align: right;
    }

    #boxTwo .twoBoxesContainer,
    .initiationBox {
        grid-template-columns: 100%;
        gap: 80px;
    }

    .saveDataBox,
    .searchDataBox {
        padding: 25px !important;
    }
}

@media (max-width: 767.98px) {

    .headerBtns {
        font-size: 12px;
    }

    .header .logo h2 {
        font-size: 18px;
        padding-top: 9px;
    }

    .leftRight .left {
        font-size: 12.5px;
    }

    .leftRight .right {
        margin-left: -50px;
        font-size: 12.5px;
    }

    .saveDataBox,
    .searchDataBox {
        padding: 15px !important;
    }
}

@media (max-width: 659.98px) {
    .pageLoad {
        width: 95%;
    }
}

@media (max-width: 575.98px) {
    body {
        padding: 10px;
    }

    #boxTwo form .inputBox span,
    #boxThree form .inputBox span {
        right: 2px;
        font-size: 11px;
    }
}

@media (max-width: 535.98px) {
    .header .logo {
        margin-bottom: 30px;
    }

    .header .logo img {
        margin-left: 15px;
    }

    .header .logo h2 {
        font-size: 25.5px;
        text-align: center;
        padding: 0;
    }

    .leftRight .left {
        font-size: 12.5px;
        padding-left: 10px;
    }

    .leftRight .right {
        margin-left: -150px;
        font-size: 12.5px;
        padding: 0;
        padding-right: 10px;
    }
}

@media (max-width: 485.98px) {

    #addressOfCentre option {
        font-size: 10px;
        font-weight: 600;
    }

    .header .logo h2 {
        font-size: 22px;
        padding-bottom: 50px;
        text-align: center;
        padding-left: 0;
    }

    #boxTwo form .inputBox span,
    #boxThree form .inputBox span {
        right: 0;
        bottom: 0;
        font-size: 11px;
    }

    .saveDataBox,
    .searchDataBox {
        padding: 10px !important;
    }
}

@media (max-width: 464.98px) {

    #addressOfCentre option {
        font-size: 9.2px;
        font-weight: 600;
        overflow-x: scroll;
    }

    #selectCentreName,
    #genderSelectBtn,
    #addressOfCentre,
    #searchSelectCentreName {
        font-size: 13px;
    }

    #selectInitiationCentreName,
    #initiationGenderSelect,
    #initiationQualification,
    #initiationOccupation,
    #initiationPlace,
    #initiation-Byy,
    #searchInitiationCentreName,
    #initiationDegree {
        font-size: 13px;
    }

    #boxTwo form .inputBox label,
    #boxThree form .inputBox label {
        width: 50%;
        font-size: 14px;
    }

    #boxTwo form .inputBox input,
    #boxThree form .inputBox input {
        font-size: 13px;
    }

    #boxTwo .inputBoxTwo .searchBox label,
    #boxThree .inputBoxTwo .searchBox label {
        width: 55%;
        font-size: 14px;
    }

    #boxTwo .inputBoxTwo .searchBox input,
    #boxThree .inputBoxTwo .searchBox input {
        font-size: 13px;
    }

}

@media (max-width: 404.98px) {

    #addressOfCentre option {
        font-size: 8.5px;
        font-weight: 600;
        overflow-x: scroll;
    }

    .headerBtns button {
        padding: 3px 8px !important;
    }

    .header .logo img {
        margin-left: 10px;
    }

    .header .logo h2 {
        font-size: 20px;
    }

    .leftRight .right {
        margin-top: -13px;
        margin-left: -160px;
    }

    .leftRight .left {
        padding-right: 0;
    }

    #boxTwo form .inputBox label,
    #boxThree form .inputBox label {
        font-size: 13px;
    }

    #boxTwo .inputBoxTwo .searchBox label,
    #boxThree .inputBoxTwo .searchBox label {
        font-size: 13px;
    }

    #boxTwo form .inputBox input,
    #boxThree form .inputBox input {
        font-size: 12px;
    }

    #boxTwo .inputBoxTwo .searchBox input,
    #boxThree .inputBoxTwo .searchBox input {
        font-size: 12px;
    }

    #selectCentreName,
    #genderSelectBtn,
    #addressOfCentre,
    #searchSelectCentreName {
        font-size: 12px;
    }

    #selectInitiationCentreName,
    #initiationGenderSelect,
    #initiationQualification,
    #initiationOccupation,
    #initiationPlace,
    #initiation-Byy,
    #searchInitiationCentreName,
    #initiationDegree {
        font-size: 12px;
    }

}

@media (max-width: 370.98px) {

    #addressOfCentre option {
        font-size: 7.8px;
        font-weight: 600;
        overflow-x: scroll;
    }

    .headerBtns button {
        padding: 4px 10px !important;
        font-size: 11px;
    }

    #homeBtn {
        margin-right: 15px !important;
    }

    .header .logo h2 {
        font-size: 18px;
        padding-top: 5px;
    }

    .leftRight .right {
        margin-top: -13px;
        margin-left: -160px;
        font-size: 11px;
    }

    .leftRight .left {
        padding-right: 0;
        font-size: 11px;
    }

}

@media (max-width: 330.98px) {
    body {
        padding: 5px;
    }
}

@media (max-width: 320.98px) {
    .header .logo h2 {
        font-size: 16px;
        padding-top: 10px;
    }

    .leftRight .right {
        margin-top: 11px;
    }
}

@media (max-width: 305.98px) {
    .header .logo h2 {
        font-size: 15px;
        padding-top: 10px;
    }

    .leftRight .right {
        margin-top: 11px;
    }

    .headerBtns button {
        padding: 3px 5px !important;
        font-size: 11px;
    }

    .leftRight .right {
        margin-left: -170px;
    }

    #homeBtn {
        margin-right: 8px !important;
    }

    #boxTwo form .inputBox label,
    #boxThree form .inputBox label {
        font-size: 12px;
    }

    #boxTwo .inputBoxTwo .searchBox label,
    #boxThree .inputBoxTwo .searchBox label {
        font-size: 12px;
    }

    #boxTwo form .inputBox input,
    #boxThree form .inputBox input {
        font-size: 11px;
    }

    #boxTwo form .inputBox textarea,
    #boxThree form .inputBox textarea {
        font-size: 11px;
    }

    #boxTwo .inputBoxTwo .searchBox input,
    #boxThree .inputBoxTwo .searchBox input {
        font-size: 11px;
    }
}


/* media quries ka code yaha se end hoga. */